<!DOCTYPE HTML>
<!--
	Partner-TIP
-->
<html>
	<head>
		<title>Partner-Tip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ url_for('static',filename='js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static',filename='css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static',filename='css/ie8.css') }}" /><![endif]-->
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#project">The project</a></li>
							<li><a href="#whoweare">Who we are</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Main page -->
			<div id="wrapper">

				<!-- Intro Start-->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Partner-TIP</h1>
							<p>Have you ever think to have your pefect partner of life already into your friends list of vk.com?
								Join our community and see who is your friend more suitable to be your next partner!
							<ul class="actions">
								<li><a href="{{ 'https://oauth.vk.com/authorize?client_id=5652867&display=page&redirect_uri=http://54.218.70.60/code&scope=friends&response_type=code' if not is_auth else '/showres'}}"
									   class="button scrolly">Start</a></li>
							</ul>
						</div>
					</section>
				<!-- Project -->
                <section id="project" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>The Project</h2>
							<p>In this project the design and implementation
                                of an Intelligent System is introduced and developed.
                                This project has been developed during the course
                                Intelligent System Projectat Barcelona Tech. </p><p>
                                The aim of the project is to analyse a data system,
                                to extract thedata from it and to manipulate the data
                                in order to get more information and presentsome
                                smart information to the users.</p><p>
                                In our specific
                                case we have chosen to use a social network (vk.com)
                                as data providerdeveloping afterwards a model able to
                                manipulate the data in order to provide a goodestimation
                                of a possible partner between the group of friends
                                within the social network.</p>

						</div>
					</section>

				<!-- Who we are -->
					<section id="whoweare" class="wrapper style2 spotlights">
						<section>
							<a href="#whoweare" class="image"><img src="/static/images/Ilmira.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Ilmira Terpugova</h2>
									<p>Master Artificial Intelligence UPC
                                    </p>
                                    <p>ilmirashaim@gmail.com</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#whoweare" class="image"><img src="/static/images/Andrea.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Andrea Lorenzo Pallini</h2>
                                    <p>TUDelft Master Student</p>
                                    <p>pallini.a@gmail.com</p>
								</div>
							</div>
						</section>

					</section>



		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="{{ url_for('static',filename='js/ie/respond.min.js') }}"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>

	</body>
</html>
