<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class = 'pane'>
    <div class = 'header'>
        <h1>Recommendations for user {{user_id}}</h1>
    </div>

    {% for i in recommendations %}

    <div>

        <div class="name">
            <p>{{i.id}}</p>
            <p>{{i.name}}</p>
        </div>

        <div class="predict">
            <p> {{i.pro}} </p>
            <p> {{i.pred}} </p>
        </div>

        <div class="photo">
            <img src="{{i.photo}}">
        </div>
    </div>

    {% endfor %}

</div>

</body>
</html>

