<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Partner-Tip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ url_for('static',filename='js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static',filename='css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static',filename='css/ie8.css') }}" /><![endif]-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
		<script>
		$(function() {
		    //get the json
			$.getJSON('/api/users/{{user_id}}/recommendations', function(data) {
				var tr;
				$('#demo-category').empty(); //make the selection empty
				for (var i = 0; i < data.length; i++) {
					if (i<5){
					    //TOP5
						tr = $('<tr/>');
						tr.append("<td><img src='" + data[i].photo + "' alt='' border=3 height=100 width=100></img></td>");
						tr.append("<td>" + data[i].name + "</td>");
						tr.append("<td>" + data[i].proba + "</td>");
						$("#table-result-top3 tbody").append(tr);
					}
					//completed table
					tr = $('<tr/>');
					tr.append("<td><img src='" + data[i].photo + "' alt='' border=3 height=100 width=100></img></td>");
					tr.append("<td>" + data[i].name + "</td>");
					tr.append("<td>" + data[i].proba + "</td>");
					$("#table-result-complete tbody").append(tr);
					$("#demo-category").append("<option value="+ data[i].id +">" + data[i].name + "</option>");
				}

				document.getElementById("result-div").style.display = 'none'; // remove selection result div
        		document.getElementById("demo-category").append($('<option>').text("Select")); //default selection
        		document.getElementById("top3").style.display = 'block'; // show top5
    			document.getElementById("complete").style.display = 'none'; // hide complete table
    			document.getElementById("button-top3").classList.add( "special" ); // make top5 button white
    			document.getElementById("button-complete").classList.remove( "special" ); // make complete button not white

			});
		});
		</script>

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">Partner-Tip</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Hello {{name}}</h1>
							<h2><span class="image left"><img src="{{photo}}" alt="" height=219 width=219>
							</span>Results
							</h2>
							<div style="float:right">
									<h3> Do you wanna check you combination result with one of your friends?
										Choose him from the list!
									</h3>
								<div class="select-wrapper">
									<select name="demo-category" id="demo-category"></select>
								</div>
								<div id="result-div">
									<h4 id="result-name"></h4>
									<h3 id="result-number"></h3>
								</div>
							</div>
							<p> &nbsp;</p>
							<p> &nbsp;</p>
							<button  id="button-top3"class="button special">Top5</button>

							<button  id="button-complete"class="button special">Complete table</button>
							<p> &nbsp;</p>
							<!---- TOP 5 ----->
                            <div id="top3" class="table-wrapper" style="display:'none'">

								<h3>Top 5</h3>
										<table id="table-result-top3">
											<thead>
												<tr>
													<th>Picture</th>
													<th>Name</th>
													<th>Score</th>
												</tr>
											</thead>
											<tbody></tbody>
										</table>




							</div>
                            <!---- Complete ----->
							<div id="complete" class="table-wrapper" style="display:'none'">

								<h3>Complete results</h3>
										<table id="table-result-complete">
											<thead>
												<tr>
													<th>Picture</th>
													<th>Name</th>
													<th>Score</th>
												</tr>
											</thead>
											<tbody></tbody>
										</table>

							</div>
                            <!---- Final buttons ----->

										<a href="./" class="button">Back</a>
										<a href="#main" class="button">Go-Up</a>
							</div>
					</section>



			</div>
        </div class="inner">
        <p> &nbsp;</p>
			<div>
		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/js/main.js"></script>
				<script>
				            // when click complete button
							document.getElementById("button-complete").addEventListener("click", function(){
    							document.getElementById("top3").style.display = 'none'; //hide top5 table
    							document.getElementById("complete").style.display = 'block'; // show complete table
    							document.getElementById("button-complete").classList.add( "special" );// make complete button white
    							document.getElementById("button-top3").classList.remove( "special" );// remove white background
							});
							//when click top5 button
							document.getElementById("button-top3").addEventListener("click", function(){
    							document.getElementById("top3").style.display = 'block'; //show top5 table
    							document.getElementById("complete").style.display = 'none';//hide complete table
    							document.getElementById("button-top3").classList.add( "special" );
    							document.getElementById("button-complete").classList.remove( "special" );
							});
							//change select option
							document.getElementById('demo-category').addEventListener('change', function() {
								var Index = this.value;
								//clean result
								$('#result-name').empty();
								$('#result-number').empty();
								//get the json
								$.getJSON('/api/users/{{user_id}}/recommendations', function(data) {
									for (var i = 0; i < data.length; i++) {
									//lookfor the selected account
										if (data[i].id == Index) {
										    //show the results properly
											$("#result-div").show();
											$("#result-name").append("Your personal result with "+data[i].name+" is: ");
											$("#result-number").append(" "+data[i].proba+" ");
											return;
										}
									};
								});
							});
							</script>
	</body>
</html>
